generated-docs/

build

# Built example binaries
examples/hello-world
fizzbuzz

# CI builds roc from source
roc-src/

*.a
*.tar.br
*.tar.gz
*.tar.zst
*.ll
*.dylib
*.lib
*.o
*.so
*.obj

# Go test artifacts
coverage.out

host/libhost.h
host/libgo.h
host/libapp.so
host/tmp_objs/

platform/dynhost
platform/*.rh
platform/*.rm
platform/*.h
platform/*.obj
